body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  align-items: center;
  background: url("../images/pawel-janiak-197471.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  border: 1px solid black;
  cursor: url('../images/hammer.png'), auto;
}

html {
  font-size: 10px;
}

h1 {
  font-family: 'Concert One', cursive;
  font-size: 8em;
  text-align: center;
  margin: 10px 0 15px 0;
}

row {
  display: flex;
}

.square {
  background-color: gainsboro;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

button {
  font-family: 'Concert One', cursive;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  opacity: .9;
}

p {
  background-color: gainsboro;
  border-radius: 5px;
  font-family: 'Amiko', sans-serif;
  font-size: 15px;
  padding: 5px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1em;
    margin-bottom: 15px;
  }

 .square {
   height: 50px;
   width: 50px;
 }
}
